/.idea
/.phalcon
/.settings
/.vscode
/.buildpath
/.projec
/.project
/nbproject
**/.DS_Store
/app/vendor
/app/composer.lock
/app/konfigurasi.php
/app/konfigurasi_*.php
/app/env.php
/app/web-root/error_log

# komatibility ke yang lama biar gak katut ke commit setelah pindah direktori
/vendor
/composer.lock
/konfigurasi.php

# ssh bukti survey
/app/web-root/ssh/bukti_survey/*
/app/web-root/ssh/berita_acara/*